.cart-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  align-items: center;
  height: 80vh;
}

.cart-img {
  width: 120px;
  height: 200px;
}
